/* Full screen center */
.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

/* Form box */
.user-form {
  width: 350px;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-form h2 {
  text-align: center;
  margin-bottom: 5px;
}

.user-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.user-form button {
  margin-top: 10px;
  padding: 12px;
  background: #3b82f6;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.user-form button:hover {
  background: #2563eb;
}
