.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

header {
  background-color: #0d3131;
  color: #fff;
  padding: 10px 0;
}

#logo {
  float: left;
  font-size: 1.5em;
}

nav {
  float: right;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: #555;
}
